name: Continuous Delivery

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2  # Usando v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pytest
          pip install -r requirements.txt || true  # ignora erro se n찾o tiver requirements.txt

      - name: Run tests
        run: |
          pytest

  deliver:
    needs: tests  # S처 roda depois que os testes passarem
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2  # Usando v2

      - name: Simulando Delivery
        uses: actions/upload-artifact@v4
        with:
          name: projetozipado.zip
          path: |
            main.py

  deploy:
    needs: deliver
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: projetozipado.zip

      - name: Display structure of downloaded files
        run: ls -R

  docker:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2  # Usando v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6  # Vers찾o v3.6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10  # Vers찾o v3.10

      - name: Build Docker image
        run: docker build -t teste .
